In [1]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [2]:
number_list

[1, 2, 3, 4, 5]

In [5]:
number_list = []
for number in range(1,6):
    number_list.append(number)

In [6]:
number_list

[1, 2, 3, 4, 5]

In [7]:
number_list = list(range(1,6))

In [8]:
number_list

[1, 2, 3, 4, 5]

In [9]:
number_list = [number for number in range(1,6)]

In [10]:
number_list

[1, 2, 3, 4, 5]

In [11]:
number_list = [number-1 for number in range(1,6)]

In [12]:
number_list

[0, 1, 2, 3, 4]

In [13]:
a_list = [number for number in range(1,6) if number % 2 == 1]

In [15]:
a_list

[1, 3, 5]

In [17]:
a_list = []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)

In [18]:
a_list

[1, 3, 5]

In [19]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [20]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [21]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [22]:
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [23]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [24]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [26]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [27]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

In [28]:
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [29]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

In [30]:
letter_counts

{'e': 2, 'l': 1, 't': 2, 's': 1, 'r': 1}

In [31]:
a_set = {number for number in range(1,6) if number % 3 == 1}

In [32]:
a_set

{1, 4}

In [35]:
def function_name(param1, param2):
    value = do_something()
    return value

In [37]:
def sum(a,b) : 
    return a+b

In [38]:
sum(1,2)

3

In [39]:
sum(1.3, 3.1)

4.4

In [41]:
sum('love ','python')

'love python'

In [43]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [44]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

In [45]:
list( zip(english, french) )

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [46]:
dict( zip(english, french) )

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [47]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [48]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [49]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [52]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [53]:
 menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [55]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [56]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [57]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [60]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [61]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [62]:
menu(price=100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [64]:
menu(price=120, entree='beef')

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [65]:
menu(dessert='bagel', price=110)

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [67]:
menu('eighty' 'saint-pierre', 'fish')

{'price': 'eightysaint-pierre',
 'wine': 'fish',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [72]:
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [74]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [75]:
menu()

<class 'TypeError'>: menu() missing 1 required positional argument: 'price'

In [76]:
menu(price=100, ‘saint-pierre’)

<class 'SyntaxError'>: invalid character '‘' (U+2018) (<ipython-input-76-7e5f9e88f088>, line 1)

In [77]:
menu(100, price=120)

<class 'TypeError'>: menu() got multiple values for argument 'price'

In [78]:
menu(main=‘cream pasta’)

<class 'SyntaxError'>: invalid character '‘' (U+2018) (<ipython-input-78-de5434e836e8>, line 1)

In [79]:
def echo(anything):
    'echo returns its input argument'
    return anything

In [80]:
def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [81]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [82]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.